body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}
.logo-text {
  font-family: "Righteous", sans-serif;
  color: #f04646;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.lgpd-box {
  background-color: #fff9c4;
  border: 1px solid #ffb222;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  align-items: stretch;
}

.btn-agree,
.btn-decline {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 55px;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  text-decoration: none;
}

.btn-agree {
  background-color: #52c47a;
  border: 2px solid #52c47a00;
  color: #000b18;
}

.btn-agree:hover {
  background-color: #fcfffd;
  border: 2px solid #52c47a;
  color: #005d21;
  transform: translateY(-1px);
}

.btn-decline {
  background-color: transparent;
  border: 2px solid #b71c1c;
  color: #b71c1c;
  margin-top: 0;
}

.btn-decline:hover {
  background-color: #b71c1c;
  border: 2px solid #b71c1c;
  color: #ffffff;
}
