# Pastas pesadas que não pertencem ao servidor
maintenance/
venv/
docs/
extension/
.git/
infra/

# Arquivos de sistema e cache
__pycache__/
*.pyc
*.log
.DS_Store

# Limpeza na pasta data
# Ignora tudo que for pesado e redundante
data/*.csv
data/execution_log/
data/vocabulario.json
data/idf.json

# Aquivos de setup
setup.bash
setup.bat

