# Python / Environments / Cache
venv/
__pycache__/
*.pyc

# Logs & System Files
*.log
.DS_Store

# Git
.git/

# Testing
.pytest_cache/
pytest.ini
tests/

# Unnecessary Project Directories for Runtime
maintenance/
docs/
extension/
infra/

# Local Scripts
setup.bash
setup.bat

# Unnecessary Data & Artifacts
data/*.csv
data/execution_log/
data/vocabulario.json
data/idf.json
