# Arquivo de configuração de arquivos e diretórios ignorados pelo Docker.
maintenance/
venv/
docs/
extension/
.git/
infra/

__pycache__/
*.pyc
*.log
.DS_Store

data/*.csv
data/execution_log/
data/vocabulario.json
data/idf.json

setup.bash
setup.bat

.pytest_cache/
pytest.ini
tests/
