# ==============================================================================
# Configuração Padrão
# ==============================================================================
* text=auto

# ==============================================================================
# Scripts de Automação (Garantir final de linha adequado por Sistema Operacional)
# ==============================================================================
*.bash    text eol=lf
*.sh      text eol=lf
*.bat     text eol=crlf

# ==============================================================================
# Código-fonte (Padronizar para LF, facilitando deploy no Linux/Docker)
# ==============================================================================
*.py      text eol=lf
*.js      text eol=lf
*.html    text eol=lf
*.css     text eol=lf
*.json    text eol=lf

# ==============================================================================
# Arquivos Binários e de Imagem
# ==============================================================================
*.png     binary
*.ico     binary
*.svg     text eol=lf

# ==============================================================================
# Git Large File Storage (LFS) - Tratamento de Dados e Arquivos Grandes
# ==============================================================================
*.zip filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
